/*  your css code here. If applicable */
h1,h2{ text-align:center}
.player_one
{
	border:2px solid black;
	border-radius:10px
}
.player_two{
	text-align:center
}

audio{
	background-color:#cccccc
}
video{
	background-color:rgb(255, 255, 255);
	padding:2px
	
}

li{
	list-style-type:none
}
.player_one{
	background-color:rgb(255, 255, 255);
	
}
.player_two{
	background-color:rgb(255, 255, 255);
	
}
a{
	text-decoration-line:none;
}
body{
	background-color:rgb(204, 204, 204)
}